.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    width:100%;
    position: relative;
    margin: auto;

    display: flex;
    justify-content:center;
    align-items:center;
}

.slideshow-container img {
    vertical-align: middle;
    border-radius:20px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 8s;
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


.menu {
    width:100%;

    display: flex;
    justify-content:center;
    align-items:center;

    flex-wrap:wrap;
}

.menu-text {
    width: 92%;
    margin-bottom: 10px;
}

.menu-text p {
    display: inline-block;
    font-size:20px;
    font-weight:500;

}


.line {
    width:92%;
    height:4px;
    background-color:black;
    border-radius:20px;
}

.main-food {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.food-card {
    width:23%;
    height: 300px;
    

    display:flex;
    justify-content:center;
    align-items:center;

    flex-wrap:wrap;
}

.food-card p {
    width:100%;
    text-align:center;

}

.food-card div {
    width: 100%;
}

.main-div {

    width:92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.food-card img {
    border-radius:20px
}