<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"] - FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/banner.css" asp-append-version="true" />
</head>

<body>
    <div class="header-nav">
        <a class="header-a" asp-page="/Index">
            <img src="~/logo.png" alt="" width="50" height="50">
        </a>
        <p> CORNER FOOD</p>
    </div>
    <div style="width:100%">
        @RenderBody()
    </div>

    <div class="footer">
        &copy; 2023 - Corner Food App -  No. 47, Street 6, Linh Trung, Thu Duc City
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>